---

---

<nav class="px-6 mx-auto bg-secondary">
    <img
        src="/logo-belon.jpg"
        alt="favicon-belon"
        class="w-[130px] h-[130px]"/>
</nav>
<header class="bg-primary w-100 py-5 sticky top-0 ">
    <ul class="flex items-center gap-10 pl-44">
        <li class="font-semibold">Menú</li>
        <li class="font-semibold">Promociones</li>
        <li class="font-semibold">Local</li>
        <li class="btn px-4 py-2 bg-secondary rounded-xl flex items-center gap-2 text-primary"><img src="/burger.svg" alt="bg" class="w-[30px] "> NO ES SOLO UNA HAMBURGUESA</li>
    </ul>
</header>

<style>
  
</style>
